body {
    font-family: 'Lato', sans-serif;
    background-color: #e6f9ff;
    color: #333;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Bangers', cursive;
    color: #006699;
}

